{% extends "base.html" %}

{% block body %}
<!-- Facebook JavaScript SDK -->
<div id="fb-root"></div>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v2.9";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="row animsition">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Kontakt</h2>
            <p></p>
            <p>Email - <a href="mailto:info@vour.rocks">info@vour.rocks</a> </p>
            <p>Booking - <a href="mailto:booking@vour.rocks">booking@vour.rocks</a> </p>
            <ul class="list-inline banner-social-buttons">
              <li>
                  <a target='_blank' href="https://www.youtube.com/channel/UCx4Y3PX4b5pYmkt-MCTlo5A" class="btn btn-default btn-lg"><i class="fa fa-youtube fa-fw"></i> <span class="network-name">Youtube</span></a>
              </li>
                <li>
                    <a target='_blank' href="https://www.facebook.com/vour.rock/" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                </li>
                <li>
                    <div class="fb-like" data-href="http://vour.rocks" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
                </li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}
