{% extends "base.html" %}

{% block body %}
<header class="intro animsition">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <img id='vour_logo' class="center-block" width='100%' src="https://c1.staticflickr.com/5/4192/33816821924_a4143a4cc3_o.png" alt='vour_logo'>
                    <h1>&nbsp;</h1>
                    <h3 id='vour_heading'>Hard Rock aus München</h3>
                    <a href="band.html" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
