{% extends "base.html" %}

{% block body %}
<!-- Live Section -->
<section id="live" class="content-section text-center">
    <div class="live-section animsition">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Live Termine</h2>
                <table id='concert-table' class='table text-left'>
                    <tbody>
                      <tr>
                          <td><b>21.03.2020</b></td>
                          <td><b>Qyotee Club and Stage (im Lucy's)</b>,
                            <a target='_blank' href='https://goo.gl/maps/MKe6txdrC3HYafjm7'><b>Sportstrasse 2, 82216 Maisach</b></a>, ab <b>19:00 Uhr</b>
                          </td>
                      </tr>
                     <tr>
                         <td></td>
                         <td></td>
                     </tr>

                     <tr>
                        <td>01.02.2020</td>
                        <td><a target=_blank href='http://eddys-rock-club.de/''>Eddy's Rock Club</a>,
                        mit <a _target=blank href='https://www.pussies-live.com/'>Pussies on the Dancefloor</a>
                        </td>
                    </tr>

                     <tr>
                         <td>14.12.2019</td>
                         <td>Weihnachtskonzert in der <a target='_blank' href='http://www.lok-freimann.de/'>LOK Freimann</a>,
                           mit <a target='_blank' href='http://www.art-of-delusion.com'>Art of Delusion</a>,
                           <a href='https://www.facebook.com/meltdownxx/'>Meltdown-X</a> und
                           <a target='_blank' href='https://de-de.facebook.com/WhaelOfficial'>Whael</a>
                         </td>
                     </tr>


                      <tr>
                         <td>30.03.2019</td>
                         <td>
                             <a target='_blank' href='http://eddys-rock-club.de/'>Eddy's Rock Club</a>,
                            mit <a target='_blank' href='https://glorydaze.de/'>Glory Daze</a>
                         </td>
                      </tr>
                       <tr>
                          <td>15.02.2019</td>
                          <td>
                              <a target='_blank' href='http://www.legends-lounge.info/'>Legends Lounge</a>,
                              Olching mit <a target='_blank' href='https://www.jesters-tears.de/'>Jester's Tears</a>
                          </td>
                       </tr>
                       <tr>
                           <td>15.12.2018</td>
                           <td>Weihnachtskonzert in der <a target='_blank' href='http://www.lok-freimann.de/'>LOK Freimann</a>,
                               mit <a target='_blank' href='https://www.facebook.com/burnpan/'>Burning Pandas</a>, <a target='_blank' href='http://www.mask-band.de'>Mask</a> und
                                   <a target='_blank' href='https://de-de.facebook.com/Fat.Grizzly.Munich/'>Fat Grizzly</a>
                           </td>
                       </tr>

                       <tr>
                           <td>09.11.2018</td>
                           <td><font color='red'>ABGESAGT</font> vom Veranstalter <a target='_blank' href='http://eddys-rock-club.de/'>Eddy's Rock Club</a>
                           </td>
                       </tr>
                       <tr>
                          <td>05.10.2018</td>
                          <td>
                              <a target='_blank' href='http://www.jkhroute66.de/'>Route 66</a>,
                              Vockestr. 11, 85540 Haar, mit <a target='_blank' href='http://www.mask-band.de'>Mask</a>
                          </td>
                       </tr>
                       <tr>
                           <td>21.04.2018</td>
                           <td><a target='_blank' href='http://www.lok-freimann.de/'>LOK Freimann</a>,
                               mit <a target='_blank' href='https://de-de.facebook.com/Hamlet-Chair-382795511789394/'>Hamlet Chair</a> und
                                   <a target='_blank' href='http://www.chromanticflash.de/'>Chromantic Flash</a>
                           </td>
                       </tr>
                       <tr>
                           <td>09.02.2018</td>
                           <td><a target='_blank' href='http://eddys-rock-club.de/'>Eddy's Rock Club</a>, Atelierstr. 16, 81671 München, mit <a target='_blank' href='http://www.screaming-nightmare.de/'>Screaming Nightmare</a></td>
                       </tr>
                       <tr>
                           <td>15.12.2017</td>
                           <td><a target='_blank' href='https://www.facebook.com/rumoursclubmunich/'>Rumours Club</a>, Friedenstr. 10, 81671 München, mit <a target='_blank' href='http://www.sarasucks.de/'>Sara Sucks</a></td>
                       </tr>
                        <tr>
                            <td>11.11.2017</td>
                            <td><a target='_blank' href='http://www.garagedeluxe.de'>Garage DeLuxe</a>, München, mit <a target='_blank' href='http://www.michaelbormannpage.de'>MICHAEL BORMANN's JADED HARD</a></td>
                        </tr>
                        <tr>
                            <td>22.09.2017</td>
                            <td><a target='_blank' href='http://www.jkw-soundcafe.de'>Soundcafe</a>, Traubestraße 5, 80805 München, mit <a href='https://www.facebook.com/meltdownxx/'>Meltdown-X</a> und <a href='https://www.facebook.com/igelvsshark/'>Igel vs. Shark</a></td>
                        </tr>
                        <tr>
                            <td>24.05.2017</td>
                            <td><a target='_blank' href='http://www.legends-lounge.info/'>Legends Lounge</a>, Olching, mit <a target='_blank' href='http://www.rockmore.net'>Rockmore</a></td>
                        </tr>
                        <tr>
                            <td>28.01.2017</td>
                            <td>Neuer <a target='_blank' href='http://eddys-rock-club.de'>Eddy's Rock Club</a>, München, mit <a target='_blank' href='https://www.facebook.com/meltdownxx/'>Meltdown-X</a></td>
                        </tr>
                        <tr>
                            <td>13.01.2017</td>
                            <td><a target='_blank' href='http://www.p2-club.de'>P2</a>, Rosenheim, mit <a target='_blank' href='https://www.facebook.com/meltdownxx/'>Meltdown-X</a></td>
                        </tr>
                        <tr>
                            <td>23.12.2016</td>
                            <td><a target='_blank' href='http://kyeso.de'>KYESO Music Bar</a>, München, mit Soulhunter</td>
                        </tr>
                        <tr>
                            <td>19.11.2016</td>
                            <td>Schmelzers, Germering</td>
                        </tr>
                        <tr>
                            <td>22.04.2016</td>
                            <td><a target='_blank' href='http://www.backstage.info/'>Backstage</a> (Halle), München</td>
                        </tr>
                        <tr>
                            <td>19.03.2016</td>
                            <td><a target='_blank' href='http://www.legends-lounge.info'>Legends Lounge</a>, Olching, mit <a target='_blank' href='http://hammerschmitt.com/'>Hammerschmitt</a></td>
                        </tr>
                        <tr>
                            <td>12.03.2016</td>
                            <td><a target='_blank' href='http://www.feierwerk.de/'>Feierwerk</a>, München, Heavy-Storm-Festival</td>
                        </tr>
                        <tr>
                            <td>04.03.2016</td>
                            <td><a target='_blank' href='http://www.cordobar.de/'>Cordobar</a>, Germering</td>
                        </tr>
                        <tr>
                            <td>20.02.2016</td>
                            <td><a target='_blank' href='http://garagedeluxe.de/'>Garage DeLuxe</a>, München, mit <a target='_blank' href='http://www.thornyroses-online.de'>Thorny Roses</a></td>
                        </tr>
                        <tr>
                            <td>30.01.2016</td>
                            <td><a target='_blank' href='http://www.puc-puchheim.de/'>PUC</a>, Puchheim</td>
                        </tr>
                        <tr>
                            <td>15.01.2016</td>
                            <td><a target='_blank' href='http://eddys-rock-club.de'>Eddy's Rock Club</a>, München, mit <a target='_blank' href='http://hammerschmitt.com/'>Hammerschmitt</a></td>
                        </tr>
                        <tr>
                            <td>08.01.2016</td>
                            <td><a target='_blank' href='http://www.backstage.info/'>Backstage</a> (Club), München</td>
                        </tr>
                        <tr>
                            <td>16.10.2015</td>
                            <td><a target='_blank' href='http://www.cordobar.de/'>Cordobar</a>, Germering</td>
                        </tr>
                        <tr>
                            <td>08.10.2015</td>
                            <td><a target='_blank' href='http://garagedeluxe.de/'>Garage DeLuxe</a>, München</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock %}
