{% extends "base.html" %}

{% block extra_css %}
<!-- Photoswipe CSS -->
<link href="{% static 'vendor/css/photoswipe/photoswipe.css' %}" rel="stylesheet">
<link href="{% static 'vendor/css/photoswipe/default-skin.css' %}" rel="stylesheet">
<link href="{% static 'css/vour-gallery.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<!-- Contact Section -->
<section id="photos" class="container content-section text-center">
    <div class="row animsition">
      <!--
        <div class="col-lg-8 col-lg-offset-2">
      -->
          <!-- Root element of PhotoSwipe. Must have class pswp. -->
          <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

              <!-- Background of PhotoSwipe.
                   It's a separate element as animating opacity is faster than rgba(). -->
              <div class="pswp__bg"></div>

              <!-- Slides wrapper with overflow:hidden. -->
              <div class="pswp__scroll-wrap">

                  <!-- Container that holds slides.
                      PhotoSwipe keeps only 3 of them in the DOM to save memory.
                      Don't modify these 3 pswp__item elements, data is added later on. -->
                  <div class="pswp__container">
                      <div class="pswp__item"></div>
                      <div class="pswp__item"></div>
                      <div class="pswp__item"></div>
                  </div>

                  <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                  <div class="pswp__ui pswp__ui--hidden">

                      <div class="pswp__top-bar">

                          <!--  Controls are self-explanatory. Order can be changed. -->

                          <div class="pswp__counter"></div>

                          <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                          <button class="pswp__button pswp__button--share" title="Share"></button>

                          <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                          <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                          <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                          <!-- element will get class pswp__preloader--active when preloader is running -->
                          <div class="pswp__preloader">
                              <div class="pswp__preloader__icn">
                                <div class="pswp__preloader__cut">
                                  <div class="pswp__preloader__donut"></div>
                                </div>
                              </div>
                          </div>
                      </div>

                      <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                          <div class="pswp__share-tooltip"></div>
                      </div>

                      <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                      </button>

                      <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                      </button>

                      <div class="pswp__caption">
                          <div class="pswp__caption__center"></div>
                      </div>

                  </div>

              </div>

          </div>
          <div class="vour-gallery">

            <div class="vour-gallery-item">
                <a href="#" data-picture="{% static 'images/2016-04-22_DSC_3645bw.jpg' %}">
                    <img src="{% static 'images/2016-04-22_DSC_3645bw_small.jpg' %}" />
                </a>
            </div>

            <div class="vour-gallery-item">
                <a href="#" data-picture="{% static 'images/vosi.jpg' %}">
                    <img src="{% static 'images/vosi_small.jpg' %}" />
                </a>
            </div>

            <div class="vour-gallery-item">
                <a href="#" data-picture="{% static 'images/2016-01-31_Vour-PUC_2814.jpg' %}">
                    <img src="{% static 'images/2016-01-31_Vour-PUC_2814_small.jpg' %}" />
                </a>
            </div>

            <div class="vour-gallery-item">
                <a href="#" data-picture="{% static 'images/2016-04-22_DSC_3752.jpg' %}">
                    <img src="{% static 'images/2016-04-22_DSC_3752_small.jpg' %}" />
                </a>
            </div>

            <div class="vour-gallery-item">
                <a href="#" data-picture="{% static 'images/2016-04-22_DSC_3718.jpg' %}">
                    <img src="{% static 'images/2016-04-22_DSC_3718_small.jpg' %}" />
                </a>
            </div>
<!--
          </div>
        -->
        </div>
    </div>
</section>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'vendor/photoswipe/photoswipe.js' %}"></script>
<script src="{% static 'vendor/photoswipe/photoswipe-ui-default.min.js' %}"></script>
<script src="{% static 'js/photoswipe_init.js' %}"></script>
{% endblock %}
